<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="resources/css/style.css" />
    <link rel="icon" href="resources/Assets/GG-corto.ico" class="rel">
    <title>Home</title>
  </head>
  <body class="body-landing">
    <div class="container">
      <div class="split left">
        <h1 id="text-btn">Estudiantes</h1>
        <a href="#" class="btn-select">Seleccionar</a>
      </div>
      <div class="split right">
        <h1 id="text-btn">Profesores</h1>
        <a href="#" class="btn-select">Seleccionar</a>
      </div>
    </div>
    <script src="resources/Js/Admin/main.js"></script>
  </body>
</html>