<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calificaciones</title>
    <link rel="stylesheet" href="resources/css/califications-s.css">
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>Materias</td>
                <td colspan="4">PRIMER TRIMESTRE</td>
                <td colspan="4">SEGUNDO TRIMESTRE</td>
                <td colspan="4">TERCER TRIMESTRE</td>
                <td>PROMEDIO</td>
                <td>ESTADO</td>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>FAT</td>
                <td>6</td>
                <td>7</td>
                <td>7</td>
                <td>8</td>
                <td>8</td>
                <td>7</td>
                <td>6</td>
                <td>7</td>
                <td>9</td>
                <td>9</td>
                <td>9</td>
                <td>9</td>
                <td>7,7</td>
            </tr>
            <tr>
                <td>Ingles</td>
                <td>9</td>
                <td>10</td>
                <td>8</td>
                <td>9</td>
                <td>8</td>
                <td>7</td>
                <td>9</td>
                <td>8</td>
                <td>8</td>
                <td>10</td>
                <td>9</td>
                <td>9</td>
                <td>8,7</td>
            </tr>
            <tr>
                <td>Marco Juridico</td>
                <td>5</td>
                <td>8</td>
                <td>8</td>
                <td>7</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>7</td>
                <td>7</td>
                <td>7</td>
                <td>7</td>
                <td>6,3</td>
            </tr>
            <tr>
                <td>Lab de Informatica</td>
                <td>4</td>
                <td>4</td>
                <td>7</td>
                <td>5</td>
                <td>6</td>
                <td>5</td>
                <td>7</td>
                <td>6</td>
                <td>7</td>
                <td>7</td>
                <td>7</td>
                <td>7</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Base de Datos</td>
                <td>4</td>
                <td>3</td>
                <td>8</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Ap a las Nuevas Tec</td>
                <td>7</td>
                <td>7</td>
                <td>7</td>
                <td>7</td>
                <td>7</td>
                <td>8</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>8</td>
                <td>8</td>
                <td>8</td>
                <td>7,3</td>
            </tr>
            <tr>
                <td>HyS</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Emprendimietos</td>
                <td>8</td>
                <td>8</td>
                <td>8</td>
                <td>8</td>
                <td>8</td>
                <td>8</td>
                <td>8</td>
                <td>8</td>
                <td>8</td>
                <td>8</td>
                <td>8</td>
                <td>8</td>
                <td>8</td>
                <td>Aprobado</td>
            </tr>
            <tr>
        </tbody>
        
    </table>
</body>
</html>