DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <link rel="icon" href="resources/Assets/GG-corto.ico" class="rel">
    <link rel="stylesheet" href="resources/css/normalize.css"/>
    <link rel="stylesheet" href="resources/css/style.css"/>
    <script
      src="https://kit.fontawesome.com/7e5b2d153f.js"
      crossorigin="anonymous"
    ></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kavoon&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">

  </head>
  <body class="hidden">
    <header class="header">
      <nav class="nav">
        <a href="#" class="logo nav-link">
          <img class="logo-icon" src="resources/Assets/logo-cor.png" alt="Gary Goodsped">
        </a>
        <button class="nav-toggle" aria-label="Abrir menú">
          <i class="fas fa-bars"></i>
        </button>
        <ul class="nav-menu">
          <li class="nav-menu-item">
            <a href="#" class="nav-menu-link nav-link">Inicio</a>
          </li>
          <li class="nav-menu-item">
            <a href="#" class="nav-menu-link nav-link">Autogestión</a>
          </li>
          <li class="nav-menu-item">
            <a href="#" class="nav-menu-link nav-link">Sobre nosotros</a>
          </li>
          <li class="nav-menu-item">
            <a href="#" class="nav-menu-link nav-link nav-menu-link_active"
              >Contactanos</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <!- Fin del Header ->

    <!- Menú Lateral Desplegable ->
    <div id="sidemenu" class="menu-collapsed">
      <!- Header ->
      <div id="header">
        <div id="menu-btn">
          <div class="btn-hamburger"></div>
          <div class="btn-hamburger"></div>
          <div class="btn-hamburger"></div>
        </div>
        <div id="title"><span>Gary Goodsped</span></div>
      </div>
  
      <!- PERFIL ->
      <div id="profile">
        <div id="photo"><img src="resources/Assets/ayrton.png" alt="Usuario"></div>
        <div id="name">
          <span>Ayrton</span>
          <div class="icon-edit">
            <a href="#">
              <img class="EditIcon" src="resources/Assets/EditIcon.svg" alt="Edit Profile">
            </a>
          </div>
        </div>
      </div>

      <!- ITEMS ->
      <div id="menu-items">
        <div class="item">
          <a href="#ShSec1" id="Btn#1">
            <div class="icon first-icon">
              <img src="resources/Assets/matters.png" alt="Materias">
            </div>
            <div class="title">
              <span>Calificaciones</span>
            </div>
          </a>
        </div>

        <div class="item separator"></div>

        <div class="item">
          <a href="#ShSec2">
            <div class="icon">
              <img src="resources/Assets/matters.png" alt="">
            </div>
            <div class="title">
              <span>Materias</span>
            </div>
          </a>
        </div>

        <div class="item separator"></div>

        <div class="item">
          <a href="">
            <div class="icon">
              <img src="resources/Assets/matters.png" alt="">
            </div>
            <div class="title">
              <span>Nombre del icono</span>
            </div>
          </a>
        </div>


        <div class="item separator"></div>

        <div class="item close">
          <a class="exitLink" href="#">
            <div class="icon">
              <img class="ExitIcon" src="resources/Assets/exit.png" alt="Cerrar Sesión" style="width: 25px;">
            </div>
            <div class="title exitText">
              <span class="exitText">Cerrar Sesión</span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!- Fin Menú Lateral Desplegable ->

    <div class="animation1">
      <div class="box">
        <div class="lightbar"></div>
        <div class="topLayer"></div>
        <% if(login) { %>
          <h2 id="TextW">Bienvenido <%= name %></h2>
          <% } %>
      </div>
    </div>
    
    <section id="ShSec1" class="ShSec1">
      <div class="animation2">
        <table id="table">
          <thead>
            <tr>
              <td>Materias</td>
              <td colspan="4">PRIMER TRIMESTRE</td>
              <td colspan="4">SEGUNDO TRIMESTRE</td>
              <td colspan="4">TERCER TRIMESTRE</td>
              <td>PROMEDIO</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>FAT</td>
              <td>6</td>
              <td>7</td>
              <td>7</td>
              <td>8</td>
              <td>8</td>
              <td>7</td>
              <td>6</td>
              <td>7</td>
              <td>9</td>
              <td>9</td>
              <td>9</td>
              <td>9</td>
              <td>7,7</td>
            </tr>
            <tr>
              <td>Ingles</td>
              <td>9</td>
              <td>10</td>
              <td>8</td>
              <td>9</td>
              <td>8</td>
              <td>7</td>
              <td>9</td>
              <td>8</td>
              <td>8</td>
              <td>10</td>
              <td>9</td>
              <td>9</td>
              <td>8,7</td>
            </tr>
            <tr>
              <td>Marco Juridico</td>
              <td>5</td>
              <td>8</td>
              <td>8</td>
              <td>7</td>
              <td>5</td>
              <td>5</td>
              <td>5</td>
              <td>5</td>
              <td>7</td>
              <td>7</td>
              <td>7</td>
              <td>7</td>
              <td>6,3</td>
            </tr>
            <tr>
              <td>Lab de Informatica</td>
              <td>4</td>
              <td>4</td>
              <td>7</td>
              <td>5</td>
              <td>6</td>
              <td>5</td>
              <td>7</td>
              <td>6</td>
              <td>7</td>
              <td>7</td>
              <td>7</td>
              <td>7</td>
              <td>6</td>
            </tr>
            <tr>
              <td>Base de Datos</td>
              <td>4</td>
              <td>3</td>
              <td>8</td>
              <td>5</td>
              <td>5</td>
              <td>5</td>
              <td>5</td>
              <td>5</td>
              <td>5</td>
              <td>5</td>
              <td>5</td>
              <td>5</td>
              <td>5</td>
            </tr>
            <tr>
              <td>Ap a las Nuevas Tec</td>
              <td>7</td>
              <td>7</td>
              <td>7</td>
              <td>7</td>
              <td>7</td>
              <td>8</td>
              <td>6</td>
              <td>7</td>
              <td>8</td>
              <td>8</td>
              <td>8</td>
              <td>8</td>
              <td>7,3</td>
            </tr>
            <tr>
              <td>HyS</td>
              <td>10</td>
              <td>10</td>
              <td>10</td>
              <td>10</td>
              <td>10</td>
              <td>10</td>
              <td>10</td>
              <td>10</td>
              <td>10</td>
              <td>10</td>
              <td>10</td>
              <td>10</td>
              <td>10</td>
            </tr>
            <tr>
              <td>Emprendimietos</td>
              <td>8</td>
              <td>8</td>
              <td>8</td>
              <td>8</td>
              <td>8</td>
              <td>8</td>
              <td>8</td>
              <td>8</td>
              <td>8</td>
              <td>8</td>
              <td>8</td>
              <td>8</td>
              <td>8</td>
            </tr>
          </tbody>
        
        </table>
      </div>
    </section>

    <section id="ShSec2" class="ShSec2"></section>
    <section id="ShSec3" class="ShSec3"></section>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js">
    
  </script>
  <script src="resources/main.js"></script>
  </body>
</html>
