<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/Ac-FAT.css">
    <title>Actividades</title>
</head>
<body>
    <h1 class="Titulo">Aplicaci칩n a las Nuevas Tecnologias</h1>
    <section class="Contenedor">
        <div class="Actividad">
            <h2>Actividad I: Rompecabezas</h2>
        </div>
        <div class="Consigna">
            <p>Utilizen lo que les ense침e en el a침o para hacer un
Programa en CNC que arme figuras de un Rompecabezas. A continuaci칩n
Les dejo el link de descargar de Mach3000
                <br><br> https://www.Mach.com</p>
        </div>
        <div class="Archivo">
            <p>Archivo</p>
        </div>
        <div class="Word">
            <a href="#" class="Word">Actividad Word</a>
        </div>
        <div class="Nota">
            <p>Aprobado</p>
        </div>
        <div class="Descripcion">
            <p>El Ejercicio esta completo</p>
        </div>
    </section>
</body>
</html>
