<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/Ac-FAT.css">
    <title>Actividades</title>
</head>
<body>
    <h1 class="Titulo">Emprendimientos</h1>
    <section class="Contenedor">
        <div class="Actividad">
            <h2>Actividad I: Steve Jobs</h2>
        </div>
        <div class="Consigna">
            <p>Ver la Pelicula de Steve Jobs. Leer mel PDF de 300 pag
3 veces y con eso responder el cuestionario que les dejo
En el link.
                <br><br> https://www.esteLink.com</p>
        </div>
        <div class="Archivo">
            <p>Archivo</p>
        </div>
        <div class="Word">
            <a href="#" class="Word">Actividad Word</a>
        </div>
        <div class="Nota">
            <p>Aprobado</p>
        </div>
        <div class="Descripcion">
            <p>El Ejercicio esta completo</p>
        </div>
    </section>
</body>
</html>
