<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/cssAc-FAT.css">
    <title>Actividades</title>
</head>
<body>
    <h1 class="Titulo">Marco Juridico de las Act Industriales</h1>
    <section class="Contenedor">
        <div class="Actividad">
            <h2>Actividad I: Proteccion Intelectual</h2>
        </div>
        <div class="Consigna">
            <p>Leer desde la pagina 15 hasta la 1532 y hacer un resumen
                de minimo 75 hojas. Se entrega mañana.
                <br><br> https://www.modulo.com</p>
        </div>
        <div class="Archivo">
            <p>Archivo</p>
        </div>
        <div class="Word">
            <a href="#" class="Word">Actividad Word</a>
        </div>
        <div class="Nota">
            <p>Aprobado</p>
        </div>
        <div class="Descripcion">
            <p>El Ejercicio esta completo</p>
        </div>
    </section>
</body>
</html>
