<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="icon" href="resources/Assets/GG-logo.ico" class="rel">
    <link rel="stylesheet" href="resources/css/style-home.css">
    <link rel="stylesheet" href="resources/css/normalize.css" />

    <script src="https://kit.fontawesome.com/7e5b2d153f.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <nav class="nav">
            <a href="#" class="logo nav-link">
                <img class="logo-icon" src="resources/Assets/logo-cor.png" alt="Gary Goodsped">
              </a>
          <ul class="nav-menu">
            <li class="nav-menu-item">
              <a href="#" class="nav-menu-link nav-link">Inicio</a>
            </li>
            <li class="nav-menu-item">
              <a href="/" class="nav-menu-link nav-link">Autogesti贸n</a>
            </li>
            <li class="nav-menu-item">
              <a href="#" class="nav-menu-link nav-link">Sobre nosotros</a>
            </li>
            <li class="nav-menu-item">
              <a href="#" class="nav-menu-link nav-link nav-menu-link_active"
                >Contactanos</a
              >
            </li>
          </ul>
        </nav>
      </header>
      <!- Fin del Header ->

    <section id="sec1">
        <div class="title">
            <h1>Bienvenid@ a la nueva educaci贸n</h1>
        </div>
        <img class="img-book" src="resources/Assets/libro.png" alt="Student">
    </section>

    
    <section id="sec2">
      <div class="titlesec2">
        <h2 class="new">Novedades</h2>
      </div>
      <div class="slider">
        <div class="slider-title">
          <h3>Titulo</h3>
        </div>
        <div class="container-slider">
          <div class="slider" id="slider">
            <div class="slider__section">
              <img src="#" alt="" class="slider__img">
            </div>
            <div class="slider__section">
              <img src="#" alt="" class="slider__img">
            </div>
            <div class="slider__section">
              <img src="#" alt="" class="slider__img">
            </div>
          </div>
          <div class="slider_btn slider_btn_right">&#60;</div>
          <div class="slider_btn slider_btn_left">&#62;</div>
        </div>
      </div>
    </section>


    <section id="sec3">
      <div class="titlesec3">
        <h4>Sobre Nosotros</h4>
      </div>
      <div class="content">
        <div class="cont-left">
          <h5>Contactanos:</h5>
          <p>
            Tel: 03516603455 <br>
            Instagram <br>
            FaceBook <br>
            Gmail:</p>

        </div>
        <div class="cont-center">
          <h6>Ubicaci贸n</h6>
          <p>
            5186 - Alta Gracia, C贸rdoba, Argentina <br>
            Urquiza 309 esq. Arz Castellanos
          </p>
        </div>
        <div class="cont-right">
          <p>
            Relleno 1 <br>
            Relleno 2
          </p>
        </div>
      </div>
      <div class="separator"> </div>
      <p>Desarrolladores: <b>Miotti Ayrton</b> y <b>Nieto Facundo</b></p>
    </section>
    
</body>
</html>